/*  ========== COMMON STYLES  ========== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.accent-color {
    color: #404bbf;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*  ========== HEADER  ========== */

.header-pager {
    border-bottom: 1px solid #e7e9fc;
    padding: 0 16px;
}

.nav-menu .list,
.address-menu {
    display: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-logo-span {
    color: #2e2f42;
}

/*  ========== MOBILE   ========== */

.btn-burger {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
}

.icon-btn-burger{
    fill: #2f2f37;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    transform: translateX(0%);
}

.container-mobile-menu {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 72px;
    padding-bottom: 40px;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px; 
    line-height: 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn-icon {
    fill: #2e2f42;
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.mobile-menu-close-btn:hover .mobile-menu-close-btn-icon,
.mobile-menu-close-btn:focus .mobile-menu-close-btn-icon {
    fill: #ffffff;
}

.mobile-menu-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
    margin-bottom: auto;
    color: #2e2f42;
}

.mobile-menu-list-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-list-link:hover,
.mobile-menu-list-link:focus {
    color: #404bbf;
}

.mobile-menu-list-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-address {
    display: block;
    font-style: normal;
    color: #434455;
    margin-bottom: 48px;
}

.mobile-menu-address-link {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-address-link:hover,
.mobile-menu-address-link:focus {
    color: #404bbf;
}

.mobile-menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-social-list {
    display: flex;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
}

.mobile-menu-social-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-link:hover,
.mobile-menu-social-link:focus {
    background-color: #31d0aa;
}

.mobile-menu-social-link:hover .mobile-menu-social-icons,
.mobile-menu-social-link:focus .mobile-menu-social-icons {
    background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
    .btn-burger {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .nav-menu {
        display: flex;
        align-items: center;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-menu .list {
        display: flex;
        gap: 40px;
    }

    .nav-menu .link {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-menu .link:hover,
    .nav-menu .link:focus {
        color: #404bbf;
    }

    .nav-current-link {
        position: relative;
        color: #404bbf;
    }

    .nav-current-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404bbf;
        border-radius: 2px;
        height: 4px;
        width: 100%;
    }

    address {
        font-style: normal;
    }

    .address-menu {
        display: block;
    }

    .address-menu .list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-menu .link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
    }

   .address-menu .link:hover,
    .address-menu .link:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .address-menu .list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .address-menu .link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/*  ========== HERO   ========== */

.section-hero {
    max-width: 320px;
    min-height: 432px;
    margin-right: auto;
    margin-left: auto;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/retina/bg-mobile1x.jpg);
    padding-top: 72px;
    padding-bottom: 72px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-hero {
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

.button-hero {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #404bbf;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/retina/bg-mobilet2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .section-hero {
        max-width: 768px;
        min-height: 436px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/retina/bg-tablet1x.jpg);
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .title-hero {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/retina/bg-tablet2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .section-hero {
        max-width: 1440px;
        min-height: 600px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/retina/bg-desktop1x.jpg);
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .title-hero {
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/retina/bg-desktop2x.jpg);
    }
}

/* ========== FEATURES  ========== */

.features-container-icon {
    display: none;
}

.features-list {
    flex-wrap: wrap;
    gap: 72px;
    display: flex;
    margin-top: 96px;
    margin-bottom: 96px;
}

.features-list .item {
    width: 100%;
}

.features-list .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.features-list .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        gap: 24px;
        row-gap: 72px;
        justify-content: center;
    }

    .features-list .item {
        width: calc((100% - 24px) / 2);
    }

    .features-list .title {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .features-list {
        gap: 24px;
    }

    .features-list .item {
        width: calc((100% - 24px * 3) / 4);
    }

    .features-container-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        margin-bottom: 8px;
    }

    .features-list .title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .features-list .text {
        font-weight: 400;
    }
}

/* ========== OUR TEAM  ========== */

.section-our-team {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}

.our-team-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.our-team-section-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.our-team-section-list .item {
    border-radius: 0 0 4px 4px;
    width: 264px;
    background-color: #ffffff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container-our-team-item {
    padding-top: 32px;
    padding-bottom: 32px;
}

.our-team-section-list .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.our-team-section-list .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.icons-social-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.icons-social-list .link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-social-list .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-social-list .link:hover,
.icons-social-list .link:focus {
    background-color: #404bbf;
}

.icons-social-list .link:hover .icons-social-list .icon,
.icons-social-list .link:focus .icons-social-list .icon {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .our-team-section-list {
        gap: 24px;
        row-gap: 64px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
    .section-our-team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .our-team-section-list {
        display: flex;
        gap: 24px;
    }

    .our-team-section-list .item {
        width: calc((100% - 24px * 3) / 4);
    }
}

/* ========== OUR PORTFOLIO  ========== */

.section-our-portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
}

.our-portfolio-list .item {
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.our-portfolio-list .item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-portfolio-list .item:hover .our-portfolio-overlay-text {
    transform: translateY(0%);
}

.our-portfolio-item-img { 
    max-width: 100%;
    object-fit: cover;
}

.our-portfolio-overlay-text {
    background-color: #4d5ae5;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #f4f4fd;
    padding: 40px 32px;
    width: 288px;
    height: 280px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-our-portfolio-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.container-our-portfolio-item .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.container-our-portfolio-item .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .our-portfolio-list {
        flex-direction: row;
        gap: 24px;
        row-gap: 72px;
        flex-wrap: wrap;
    }

    .our-portfolio-list .item {
        width: calc((100% - 24px) / 2);
    }

    .our-portfolio-overlay-text {
        width: 356px;
        height: 300px;
    }
}

@media screen and (min-width: 1158px) {
    .section-our-portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .our-portfolio-list .item {
        width: calc((100% - 48px) / 3);
    }

    .our-portfolio-overlay-text {
        width: 360px;
        height: 300px;
    }
}

/* ========== FOOTER STYLES ========== */

.footer-page {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 72px;
}

.container-footer-logo {
    max-width: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.footer-logo-span {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    align-items: center;
    justify-content: center;
}

.container-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.footer-social-list .link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list .link:hover,
.footer-social-list .link:focus {
    background-color: #31d0aa;
}

.footer-social-list .link:hover .footer-social-list .icon,
.footer-social-list .link:focus .footer-social-list .icon {
    background-color: #31d0aa;
}

.container-subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-form-input {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding-left: 16px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-subscribe-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    border: none;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #404bbf;
}

.footer-subscribe-button-icon {
    fill: #f4f4fd;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: left;
        padding-left: 108px;
        gap: 24px;
        row-gap: 72px;
    }

    .container-footer-logo {
        max-width: 264px;
        align-items: baseline;
    }

    .footer-subscribe-form {
        flex-direction: row;
        gap: 24px;
    }

    .footer-form-input {
        width: 264px;
    }

    .container-social-media {
        align-items: baseline;
    }

    .container-subscribe-form {
        align-items: baseline;
    }

}

@media screen and (min-width: 1158px) {
    .footer-page {
        padding-top: 100px;
        padding-bottom: 100px;

    }

    .footer-container {
        flex-direction: row;
        padding-left: 16px;
        gap: 0;
        row-gap: 0;
    }

    .container-footer-logo {
        margin-right: 120px;
    }

    .container-social-media {
        margin-right: 80px;
    }
}

/* ========== BACKDROP STYLES ========== */

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .backdrop.is-open {
    opacity: 1;
    visibility: visible;
} */

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fcfcfc;
    padding: 72px 16px 24px 16px;
}

.modal-close-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: #ffffff;
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-callback-text {
    max-width: 256px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: #4d5ae5;
}

.container-modal-form {
    margin-bottom: 8px;
}

.container-form-input {
    position: relative;
}

.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-input-icon {
    fill: #4d5ae5;
}

.container-input-textarea {
    margin-bottom: 16px;
}

.modal-form-textarea {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
    border-color: #4d5ae5;
}

.modal-form-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.form-label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.container-input-checkbox {
    margin-bottom: 24px;
}

.modal-form-span-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-checkbox:checked+.form-label-checkbox .modal-form-span-checkbox {
    background-color: #404bbf;
    border-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}

.form-checkbox-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-form-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
    }

    .form-callback-text {
        max-width: 360px;
    }

}